.card-body{
  max-width: 300px !important;

  background-color: #f4f3f5;

}
.card-text{
  height: 48px;
  overflow: hidden;
}
.product{
  padding:0px !important;
}
.truncate {
  display: block;
  display: -webkit-box;
  max-width: 300px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sold{
  position: absolute; 
  margin-top: 60px; 
  margin-left: 20px; 
  transform: rotate(45deg); 
  font-size: 5rem;
  color: #00000047;
}