<div class="col-lg product shadow p-3 mb-5 bg-white rounded">
  <div *ngIf="product.issold" class="large sold" >ELADVA</div>
  <img src={{product.imagepath}} width="200" height="250" class="card-img-top" alt={{product.name}}>
  <div class="card-body">
    <div class="card-title clearfix">
        <h4 class="float-left">{{product.name}}</h4>
        <h6 class="float-right " style="margin-right:auto; margin-top: 6px;">Ár: {{product.price | currency:'HUF':'symbol':'3.0-2':'hu'}}</h6>
      </div>
    
      <div class="card-text  truncate  ">
        {{product.description}}
      </div>
      <div class="clearfix" style="padding-top: 10px;">
      <div class= "small text-muted float-left align-middle">
      <span >Eladó: {{product.owner.username}}</span><br>
      <span >Felrakva: {{product.created_date | date:'yyyy-MM-dd'}}</span>
    </div>
      <a href="#" *ngIf="!product.issold" routerLink="/product/{{product.id}}" class="btn btn-primary float-right">Tovább</a> 
      <a href="#" *ngIf="product.issold && productIsMine()" routerLink="/sumpage/{{product.id}}" class="btn btn-success float-right">Összegzés</a> 
    </div>
  </div>
</div>