<div class="">
  <div class="cardcont">
    <div style="background-color: white; padding: 20px;" >
      <div >
        <div >
          <h3>Új termék hozzáadása</h3>
        </div>
        <form [formGroup]="productForm" #formDir="ngForm" >
          <div class="form-group">
            <label for="productname">Termék neve:</label>
            <input type="text" name="prodcutname" required class="form-control" formControlName="productname" placeholder="Írja be a termék nevét...">
          </div>
          <div class="form-group">
            <label for="description">Leírás:</label>
            <input type="text" name="description" class="form-control" formControlName="description" placeholder="A termék leírása">
          </div>
          <div class="form-group">
            <label for="price">Ára:</label>
            <input type="number" name="price" class="form-control" formControlName="price" placeholder="Irja be a termék árát.">
          </div>
          <div class="clearfix">
            <div class="custom-file float-left">
              <input type="file" name="selectedFile"  (change)="onFileChanged($event)" class="custom-file-input" id="selectedFile" value="Keresés">
              <label class="custom-file-label" #fileInput for="customFile">Fájl kiválasztása</label>
            </div>
          </div>
          <span *ngIf="selectedFile" style="margin-left: 10px;">{{selectedFile.name}}</span>
          <input type="submit" class="btn btn-primary float-right"  (click)="addProduct()" value="Hozzáadás">

    
        </form>
      </div>
    </div>
  </div>

