
.cardcont{
  width: 60% !important;
}
  .card{
  height: auto;

  margin-bottom: auto;
  
  }
  .full{
    height: 90vh !important;
    
  }
  .links{
  color: white;
  }
  
  .links a{
  margin-left: 4px;
  }