.productcontainer{
  padding-top: 30px;
  height: 92%;
}

.sold{
  position: absolute; 
  max-width: 0;
  top: 40%; 
  text-align: center;
  width: 60%; 
  top:0;
  transform: rotate(45deg); 
  font-size: 5rem;
  color: #00000047;
}
.bottom-info{
  width: 100%;
}
