<div *ngIf="getIsLoading()" class="spinner-wrapper">
  <app-spinner text="töltés"></app-spinner>
</div>
<app-addresspopup [isOpen]="popUpOpen">
  <div class="box">
    <header class="mb-sm-2">
      <span class="title ">Szállítási cím kiválsztása:</span>
    </header>
    <main>
      <form [formGroup]="addressForm" >
      <select [ngModel]="selectedAddress" class="form-control" formControlName="selectedAddress"  >
        <option  disabled [ngValue]="undefined">Szállítási cím kiválasztása</option>
        
        <option *ngFor="let address of addresses" [ngValue]="address"> <span class="m-sm-1">{{address.country}} {{address.zip}} {{address.county}} {{address.village}}, {{address.street}} {{address.number}}.</span></option>
    </select>
  </form>
    </main>
    <footer>
   
      <button class=" mt-sm-3 btn btn-secondary btn-lg btn-block" (click)="cancelPopUp()">Mégse</button>
      <button class="btn btn-primary btn-lg btn-block" (click) = "buyProduct()" >Kiválaszt</button>
    </footer>
  </div>
</app-addresspopup>
<div class="productcontainer h-94 container  d-flex flex-column justify-content-center">
  <div class="row"  >
    <div class="ml-lg-3" style="position: relative;   ;text-align: center; display: inline-block;" >
     
      <img class="shadow-lg rounded" src={{product.imagepath}} width="300" height="300">
      <div *ngIf="product.issold"   class="sold ml-5" >
         ELADVA
      </div>
      
    </div>
    <div class="col-sm-8">
      <div class="d-flex">
        <div >
          <h3>Megnevezés: {{product.name}}</h3>
          <h4 class="mb-sm-2" >Ára: {{product.price | currency:'HUF':'symbol':'3.0-2':'hu'}}</h4>
        </div>
        <div class="ml-auto p-2" *ngIf="isAdmin()" >
          <button (click)="authProduct()" class="btn btn-success">Engedélyez</button>
        </div>
      </div>
      <br class="clearfix">
      <div class="row">
        <div style="word-wrap: break-word;" class="col  border-top border-right p-sm-4">
            <h4>Átvételi lehetőségek:</h4>
            <ul>
              <li>MOL Pont</li>
              <li>Posta Pont</li>
              <li>Csomagautomata</li>
              <li>MPL futárszolgálat</li>
              <li>FOXPOST Csomagautomata</li>
              <li>EXPRESSZ szállítás</li>
            </ul>
        </div>
        <div class="col border-top p-sm-4">
          <h4>Garancia lehetőségek:</h4>
          <ul>
            <li>Háztól-házig Garancia</li>
            <li>Szállítás biztosítás</li>
          </ul>
      </div>
      </div>
    </div>
  </div>
  <div class = "flex-grow-1 border-top border-bottom p-sm-2 " >
        <h3 class="mt-sm-2" >Termék leírása: </h3>
        <h6 class=" text-justify"  >{{product.description}}</h6>
  </div>

  <div class="bottom-info mt-sm-2" >
    <div class="d-flex" >
      <div  >
          <span  >Feltöltötte: {{product.owner.username}}</span><br> <span >Dátum: {{product.created_date | date:'yyyy-MM-dd'}}</span>
      </div>
      <div class="ml-auto p-2" >
        <div>
          <div  *ngIf="!product.issold && notMine()" >
            <button *ngIf="notMine()" (click) = "chooseAddress() "  class="btn btn-primary btn-block">
                Megvásárol
            </button>
          </div>
        </div>
      </div>
      </div>
  </div>
</div>
