<nav class=" navbar navbar-default navbar-expand-lg  navbar-fixed-top container navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div  class="collapse navbar-collapse" id="navbarResponsive">
      <ul  class="navbar-nav ml-auto">
        <app-menu-item 
        *ngFor="let menuItem of menuItems" 
        [menuItem]="menuItem"
        (logOutEvent)="logOut($event)"
        ></app-menu-item>
      </ul>
    </div>

</nav>